body {
    font-family: "Saira", sans-serif !important;
    overflow-x: hidden;
}
*,
::after,
::before {
    box-sizing: border-box;
}
a {
    color: #fff;
    text-decoration: none !important;
}
.top-info {
    letter-spacing: 1;
}
.text-green {
    color: #26d48c !important;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: "Saira", sans-serif;
}
.btn-square {
    width: 38px;
    height: 38px;
}
.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
.social {
    color: #1842b6 !important;
}
#note {
    line-height: 35px;
}
.nav-item {
    font-size: 18px;
}
a.nav-link {
    color: #26d48c;
}

.phone-icon i {
    color: #26d48c;
    justify-content: center;
}
.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/assets/img/carousel-1.jpg") center center no-repeat;
    background-size: cover;
}
.page-header .breadcrumb-item,
.page-header .breadcrumb-item a,
.page-header .breadcrumb-item::before {
    font-size: 18px;
    color: white !important;
}
.fact {
    margin-top: -20px;
    background-color: #26d48c !important;
}
/* Homepage */
.carousel-item p {
    max-width: 700px;
    margin: 0 auto 35px auto;
}
.carousel-caption .carousel-content a button.carousel-content-btn1 {
    background: #3cd989;
    color: #000;
    opacity: 1;
    border: 0;
}
.carousel-caption .carousel-content a button.carousel-content-btn2 {
    background: #1842b6;
    color: #fff;
    opacity: 1;
    border: 0;
}


/* Services */
.services-item {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
}
.services-item:hover .services-content-icon {
    position: relative;
    z-index: 2;
}
.services-item:hover .services-content-icon i {
    color: #26d48c !important;
}
.services-item:hover .services-content-icon p {
    color: #fff !important;
}

.services-item::after {
    top: 0;
    bottom: auto;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    background: rgba(3, 43, 243, 0.8);
    transition: height 0.5s, opacity 0.5s;
    opacity: 0;
}
.services-item .services-content-icon i,
.services-item .services-content-icon p {
    transition: 0.5s;
}
.services-item:hover .services-content::after {
    height: 100%;
    opacity: 1;
    transform: 0.5s;
}
.services-item:hover::after {
    height: 100%;
    opacity: 1;
}

/* Project */
.project-item:hover .project-content {
    opacity: 1;
    transition: 0.5s;
}
.project-img {
    position: relative;
    padding: 15px;
}
.project-img::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background: #26d48c;
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: 0.5s;
}
.project-img::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    right: 0;
    bottom: 0;
    background: #1842b6;
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: 0.5s;
}
.project-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.project-content a {
    display: inline-block;
    padding: 20px 25px;
    background: #1842b6;
    border-radius: 10px;
}

/* Blog */
.blog-item .blog-btn {
    z-index: 2;
}
.btn {
    font-weight: 600;
    transition: 0.5s;
}
.blog-btn .blog-btn-icon {
    height: 50px;
    position: relative;
    overflow: hidden;
}

.blog-icon-1 {
    position: relative;
    top: -4px;
}
.blog-btn-icon:hover .blog-icon-1 {
    top: 0;
    right: -140px;
    transition: 1s;
}
.blog-icon-2 {
    display: flex;
    position: absolute;
    top: 6px;
    left: -140px;
}
.blog-btn-icon:hover .blog-icon-2 {
    transition: 1s;
    left: 5px;
    top: 6px;
    padding: 5px;
}
.btn-secondary {
    color: #000;
    background-color: #47da9d !important;
    border-color: #3cd989 !important;
}
.btn:hover {
    background-color: #3cd989 !important;
}
/* Teams */
.team-item {
    border-top: 30px solid #26d48c;
    background: rgba(239, 230, 241, 0.8);
}
.team-content::before {
    height: 200px;
    display: block;
    content: "";
    position: relative;
    top: -101px;
    background: #26d48c;
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    padding: 60px;
    opacity: 1;
}
.team-img-icon {
    position: relative;
    margin-top: -200px;
    padding: 30px;
    padding-bottom: 0;
}
.team-img {
    border: 15px solid white;
}
.team-name {
    text-align: center !important;
}
.team-icon a {
    background-color: #26d48c;
}
.swiper-slide {
    width: 400px !important;
}
/* Contact */
.contact-detail::before {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, 0.3)),
        url("/public/assets/img/background.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}
.contact-map,
.contact-form {
    background-color: #26d48c;
}
.button-message {
    font-family: "Saira", sans-serif !important;
}
/* Footer */
.short-link a,
.contact-link a {
    transition: 0.5s;
}
.short-link a:hover,
.contact-link a:hover {
    letter-spacing: 1px;
}
